<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--  移动端适配  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页-sdudoc</title>
    <!--  cdn方式引入semantic UI  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <!-- 引入自定义的css -->
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

  <!-- 导航 -->
  <nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
      <div class="ui container">
        <div class="ui inverted secondary stackable menu">
          <h2 class="ui violet header item">Blog</h2>
          <a href="#" class="m-item item m-mobile-hide"><i class=" home icon"></i>首页</a>
          <a href="#" class="m-item item m-mobile-hide"><i class=" idea icon"></i>分类</a>
          <a href="#" class="m-item item m-mobile-hide"><i class=" tags icon"></i>标签</a>
          <a href="#" class="m-item item m-mobile-hide"><i class=" clone icon"></i>归档</a>
          <a href="#" class="m-item item m-mobile-hide"><i class=" info icon"></i>关于我</a>
          <div class="right m-item item m-mobile-hide">
              <div class="ui icon inverted transparent input m-margin-tb-tiny">
                  <input type="text" placeholder="Search">
                  <i class="search link icon"></i>
              </div>
          </div>
       </div>
      </div>
      <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
          <i class="sidebar icon"></i>
      </a>
  </nav>

  <!-- 中间内容 -->
  <div class="m-container m-padded-tb-huge animated fadeIn">
      <div class="ui container">
        <div class="ui stackable grid">
           <!-- 左边博客列表 -->
           <div class="eleven wide column active">
               <!-- header -->
               <div class="ui top attached segment">
                   <div class="ui middle aligned two column grid">
                       <div class="column">
                           <h3 class="ui violet header">已上架书籍</h3>
                       </div>
                       <div class="right aligned column">
                           共<h2 class="ui orange header m-inline-block m-text-thin" th:text="${bookPage.totalElements}">14</h2>本
                       </div>
                   </div>
               </div>

               <!-- content 书籍展示 -->
               <div class="ui attached segment">
                   <div class="ui vertical segment " >
                        <div class="ui middle aligned mobile reversed stackable grid"  >
                            <div class="five wide column" th:each="book : ${bookPage.content}">
                                <div class="ui card" >
                                    <a class="image" href="card.php#" th:href="@{/book/{id}(id=${book.id})}">
                                        <img src="https://picsum.photos/id/1/480/640" th:src="@{${book.picture}}">
                                    </a>
                                    <div class="content">
                                        <a class="header" href="#" th:text="${book.title}">Steve Jobes</a>
                                        <div class="meta">
                                            <a th:text="${book.author}">Last Seen 2 days ago</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>



               </div>

               <!-- bottom页码 -->
               <div class="ui bottom attached segment" th:if="${bookPage.totalPages}>1">
                   <div class="ui middle aligned two column grid">
                       <div class="column">
                           <a href="#" th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}" class="ui mini violet basic button">上一页</a>
                       </div>
                       <div class="right aligned column">
                           <a href="#" th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}" class="ui mini violet basic button">下一页</a>
                       </div>
                   </div>
               </div>
           </div>


           <!-- 右边布局 -->
           <div class="five wide column">
                <!-- 分类 -->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="idea icon"></i><span class="m-text-color">古籍分类</span>
                            </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{types/-1}" target="_blank" > <span class="m-text-color">more</span> <i class="angle double right violet icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui violet segment">
                        <div class="ui fluid vertical menu" >
<!--                            <a href="#" th:href="@{/types/{id}(id=${type.id})}" target="_blank" class="item" th:each="type : ${types}">-->
<!--                                <span th:text="${type.name}">学习日志</span>-->
<!--                                <div class="ui violet basic left pointing label" th:text="${#arrays.length(type.blogs)}">13</div>-->
<!--                            </a>-->

                            <div class="ui styled accordion">
                                <div class="title">
                                    <i class="dropdown icon"></i>
                                    經部 (<span th:text="${#arrays.length(books1)}"></span>)
                                </div>
                                <div class="content">
                                    <a href="#" th:href="@{/types/{id}(id=${type.id})}" target="_blank" class="item" th:each="type : ${type1}">
                                        <span th:text="${type.name}">詩類</span>
                                        <div class="ui violet basic left pointing label" th:text="${#arrays.length(type.books)}">13</div>
                                    </a>
                                    <!--/*-->
                                    <a href="#" class="item">詩類
                                        <div class="ui violet basic left pointing label">13</div>
                                    </a>
                                    <a href="#" class="item">樂類
                                        <div class="ui violet basic left pointing label">13</div>
                                    </a>
                                    <a href="#" class="item">四書類
                                        <div class="ui violet basic left pointing label">13</div>
                                    </a>
                                    <!--*/-->
                                </div>


                                <div class="title">
                                    <i class="dropdown icon"></i>
                                    史部 (<span th:text="${#arrays.length(books2)}"></span>)
                                </div>
                                <div class="content">
                                    <a href="#" th:href="@{/types/{id}(id=${type.id})}" class="item" th:each="type : ${type2}">
                                        <span th:text="${type.name}">詩類</span>
                                        <div class="ui violet basic left pointing label" th:text="${#arrays.length(type.books)}">13</div>
                                    </a>

                                </div>
                                <div class="title">
                                    <i class="dropdown icon"></i>
                                    子部 (<span th:text="${#arrays.length(books3)}"></span>)
                                </div>
                                <div class="content">
                                    <a href="#" th:href="@{/types/{id}(id=${type.id})}" class="item" th:each="type : ${type3}">
                                        <span th:text="${type.name}">詩類</span>
                                        <div class="ui violet basic left pointing label" th:text="${#arrays.length(type.books)}">13</div>
                                    </a>

                                </div>
                                <div class="title">
                                    <i class="dropdown icon"></i>
                                    集部 (<span th:text="${#arrays.length(books4)}"></span>)
                                </div>
                                <div class="content">
                                    <a href="#" th:href="@{/types/{id}(id=${type.id})}" class="item" th:each="type : ${type4}">
                                        <span th:text="${type.name}">詩類</span>
                                        <div class="ui violet basic left pointing label" th:text="${#arrays.length(type.books)}">13</div>
                                    </a>

                                </div>
                                <div class="title">
                                    <i class="dropdown icon"></i>
                                    叢書部 (<span th:text="${#arrays.length(books5)}"></span>)
                                </div>
                                <div class="content">
                                    <a href="#" th:href="@{/types/{id}(id=${type.id})}" class="item" th:each="type : ${type5}">
                                        <span th:text="${type.name}">詩類</span>
                                        <div class="ui violet basic left pointing label" th:text="${#arrays.length(type.books)}">13</div>
                                    </a>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <!-- 标签 -->
                <div class="ui segments m-margin-top-large">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="tags icon"></i><span class="m-text-color">文章标签</span>
                            </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{/tags/-1}" target="_blank"><span class="m-text-color">more</span> <i class="angle double right violet icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui segment">
                        <a href="#" th:href="@{/tags/{id}(id=${tag.id})}" target="_blank" class="ui tag label m-tag-color m-margin-tb-tiny m-margin-l-mini" th:each="tag : ${tags}">
                            <span th:text="${tag.name}" class="m-text-color">方法论</span>
                            <div class="detail" th:text="${#arrays.length(tag.blogs)}"><span>23</span></div>
                        </a>
                        <!--/*-->
                        <a href="#" target="_blank" class="ui violet basic left pointing label m-margin-tb-tiny">方法论 <div class="detail">23</div></a>
                        <a href="#" target="_blank" class="ui violet basic left pointing label m-margin-tb-tiny">方法论 <div class="detail">23</div></a>
                        <a href="#" target="_blank" class="ui violet basic left pointing label m-margin-tb-tiny">方法论 <div class="detail">23</div></a>
                        <a href="#" target="_blank" class="ui violet basic left pointing label m-margin-tb-tiny">方法论 <div class="detail">23</div></a>
                        <a href="#" target="_blank" class="ui violet basic left pointing label m-margin-tb-tiny">方法论 <div class="detail">23</div></a>
                        <a href="#" target="_blank" class="ui violet basic left pointing label m-margin-tb-tiny">方法论 <div class="detail">23</div></a>
                        <!--*/-->
                    </div>
                </div>

                <!-- 最新推荐 -->
                <div class="ui segments m-margin-top-large">
                    <div class="ui secondary segment">
                        <i class="bookmark icon"></i><span class="m-text-color">最新推荐</span>
                    </div>
                    <div class="ui fluid vertical menu violet segment" >
<!--                        <div  class="item" th:each="book : ${recommendBooks}">-->
<!--                            <a href="#" th:href="@{/book/{id}(id=${book.id})}" target="_blank" class="item m-black m-text-thin" th:text="${book.title}">用户故事（User Story）-->
<!--                            </a>-->
<!--                            <div class="ui left" th:text="${book.author}">詩類</div>-->
<!--                        </div>-->
                        <div class="ui list">

                            <div class="item m-padded m-padded-tb-tiny" th:each="book : ${recommendBooks}">
                                <i class="red hourglass start icon"></i>
                                <div class="content">
                                    <a class="header" th:text="${book.title}">Krolewskie Jadlo</a>
                                    <div class="description" th:text="${book.author}">An excellent polish restaurant, quick delivery and hearty, filling meals.</div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <!--/*-->
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
                    </div>
                    <!--*/-->
                </div>
<!--                &lt;!&ndash; 二维码 &ndash;&gt;-->
<!--                <h4 class="ui horizontal divider header m-margin-top-large">扫码关注我</h4>-->
<!--               <div class="ui centered card" style="width: 11em">-->
<!--                   <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" alt="" class="ui rounded image" style="width: 11em">-->
<!--               </div>-->
           </div>
        </div>
      </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <!-- 底部footer -->
  <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" class="ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-spaced m-text-thin">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事（User Story）</a>
                    <a href="#" class="item">关于刻意练习的清单</a>
                    <a href="#" class="item">失败要趁早</a>
                </div>

            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-spaced m-text-thin">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email: tajkun@163.com</a>
                    <a href="#" class="item">QQ: 1285234958</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-spaced m-text-thin">Jiakun</h4>
                <p class="m-opacity-mini m-text-spaced m-text-thin">这是我的个人博客，我会分享关于编程、写作、思考相关的任何内容，希望可以给来到这的人有所帮助。</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-opacity-tiny m-text-spaced m-text-thin">Copyright©2019-2020 Jiakun Designed by Jiakun</p>
    </div>

  </footer>


<!--/*/<th:block th:replace="_fragments :: script">/*/-->
      <!-- semantic.min.js 依赖jQuery -->
      <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<!--/*/</th:block>/*/-->


  <script>
      $('.menu.toggle').click(function (){
          $('.m-item').toggleClass('m-mobile-hide');
      });

      // $('.trigger.example .accordion')
      //     .accordion({
      //         selector: {
      //             trigger: '.title .icon'
      //         }
      //     });
      $('.ui.accordion').accordion();

      $('.content .item')
          .tab()
      ;
  </script>
</body>
</html>