<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <!--  移动端适配  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>搜索结果</title>
    <!--  cdn方式引入semantic UI  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <!-- 引入自定义的css -->
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

  <!-- 导航 -->
  <nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
      <div class="ui container">
        <div class="ui inverted secondary stackable menu">
          <h2 class="ui violet header item">Blog</h2>
          <a href="#" class="m-item item m-mobile-hide"><i class=" home icon"></i>首页</a>
          <a href="#" class="m-item item m-mobile-hide"><i class=" idea icon"></i>分类</a>
          <a href="#" class="active  m-item item m-mobile-hide"><i class=" tags icon"></i>标签</a>
          <a href="#" class="m-item item m-mobile-hide"><i class=" clone icon"></i>归档</a>
          <a href="#" class="m-item item m-mobile-hide"><i class=" info icon"></i>关于我</a>
          <div class="right m-item item m-mobile-hide">
              <div class="ui icon inverted transparent input m-margin-tb-tiny">
                  <input type="text" placeholder="Search">
                  <i class="search link icon"></i>
              </div>
          </div>
       </div>
      </div>
      <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
          <i class="sidebar icon"></i>
      </a>
  </nav>

  <!-- 中间内容 -->
  <div class="m-container m-padded-tb-huge animated fadeIn">
      <div class="ui container">
          <!--header-->
          <h4 class="ui horizontal divider header">
              <i class="search icon"></i>
              &nbsp;&nbsp;&nbsp;&nbsp;共  &nbsp;<span class="ui header" th:text="${bookPage.totalElements}">14</span>&nbsp;&nbsp;条搜索结果
          </h4>
          <br>
          <div class="ui stackable grid ">
              <!-- 左边博客列表 -->
              <div class="eleven wide column active m-margin-search">
                  <!-- header -->
<!--                  <div class="ui top attached segment">-->
<!--                      <div class="ui middle aligned two column grid">-->
<!--                          <div class="column">-->
<!--                              <h3 class="ui violet header" >阅读排行</h3>-->
<!--                          </div>-->
<!--                          <div class="right aligned column">-->
<!--                              共&nbsp;<h2 class="ui header m-inline-block m-text-thin" >14</h2>&nbsp;本-->
<!--                          </div>-->
<!--                      </div>-->
<!--                  </div>-->

                  <!-- content 书籍展示 -->
                  <div class="ui attached segment">
                      <div class="ui vertical segment " >
                          <div class="ui middle aligned mobile reversed stackable grid"  >
                              <div class="five wide column" th:each="book : ${bookPage.content}">
                                  <div class="ui card" >
                                      <a class="image" href="#" th:href="@{/book/{id}(id=${book.id})}">
                                          <object>
                                              <a class="ui left corner label" >
                                                  <i class="bookmark icon"></i>
                                              </a>
                                          </object>
                                          <img src="https://picsum.photos/id/1/480/640" th:src="@{${book.picture}}">
                                      </a>
                                      <div class="content">
                                          <a class="header" href="#" th:text="${book.title}">Steve Jobes</a>
                                          <div class="meta">
                                              <a th:text="${book.author}">Last Seen 2 days ago</a>
                                          </div>
                                      </div>
                                  </div>
                              </div>

                          </div>
                      </div>

                  </div>

                  <!-- bottom页码 -->
                  <div class="ui bottom attached segment" th:if="${bookPage.totalPages}>1">
                      <div class="ui middle aligned two column grid">
                          <div class="column">
                              <a href="#" th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}" class="ui mini violet basic button">上一页</a>
                          </div>
                          <div class="right aligned column">
                              <a href="#" th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}" class="ui mini violet basic button">下一页</a>
                          </div>
                      </div>
                  </div>
              </div>


              <!-- 右边布局 -->

          </div>
      </div>

<!--      <div class="ui container">-->
<!--            &lt;!&ndash;header&ndash;&gt;-->
<!--          <div class="ui top attached segment">-->
<!--              <div class="ui middle aligned two column grid">-->
<!--                  <div class="column">-->
<!--                      <h3 class="ui violet header">搜索结果</h3>-->
<!--                  </div>-->
<!--                  <div class="right aligned column">-->
<!--                      共<h2 class="ui orange header m-inline-block m-text-thin" th:text="${page.totalElements}">14</h2>篇-->
<!--                  </div>-->
<!--              </div>-->
<!--          </div>-->


<!--          <div class="ui violet top attached segment">-->
<!--              <div class="ui m-padded vertical segment m-padded-tb-large" th:each="blog : ${page.content}">-->
<!--                  <div class="ui middle aligned mobile reversed stackable grid" >-->
<!--                      <div class="eleven wide column">-->
<!--                          <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black" th:text="${blog.title}">你真的理解什么是财富自由吗？</a></h3>-->
<!--                          <p class="m-text" th:text="|${blog.description}......|">在你决定踏上财富自由的路之前，你要先想清楚，这件事真正的意义是什么；如果你真的“想要”财富自由，那么你就需要理解“财富自由”，直到你把这个概念理解得像吃饭睡觉一样透彻之后，你才有了可以加速向它靠近的前提</p>-->
<!--                          <div class="ui grid">-->
<!--                              <div class="eleven wide column">-->
<!--                                  <div class="ui mimi horizontal link list">-->
<!--                                      <div class="item">-->
<!--                                          <img src="https://picsum.photos/id/1002/100/100" th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image">-->
<!--                                          <div class="content"><a href="#" class="header" th:text="${blog.user.nickname}">贾坤</a></div>-->
<!--                                      </div>-->
<!--                                      <div class="item">-->
<!--                                          <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-02-04</span>-->
<!--                                      </div>-->
<!--                                      <div class="item">-->
<!--                                          <i class="eye icon"></i><span th:text="${blog.views}">123</span>-->
<!--                                      </div>-->
<!--                                  </div>-->
<!--                              </div>-->
<!--                              <div class="right aligned five wide column">-->
<!--                                  <a href="#" target="_blank" class="ui violet basic label m-padded-mini m-text-thin" th:text="${blog.type.name}">认知升级</a>-->
<!--                              </div>-->
<!--                          </div>-->
<!--                      </div>-->
<!--                      <div class="five wide column">-->
<!--                          <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">-->
<!--                              <img src="https://picsum.photos/id/1002/800/450" th:src="@{${blog.firstPicture}}" alt="" class="ui rounded image">-->
<!--                          </a>-->
<!--                      </div>-->
<!--                  </div>-->
<!--              </div>-->
<!--          </div>-->

<!--          <div class="ui bottom attached segment" th:if="${page.totalPages}>1">-->
<!--              <div class="ui middle aligned two column grid">-->
<!--                  <div class="column">-->
<!--                      <a href="#" th:href="@{/(page=${page.number}-1)}" th:unless="${page.first}" class="ui mini violet basic button">上一页</a>-->
<!--                  </div>-->
<!--                  <div class="right aligned column">-->
<!--                      <a href="#" th:href="@{/(page=${page.number}+1)}" th:unless="${page.last}" class="ui mini violet basic button">下一页</a>-->
<!--                  </div>-->
<!--              </div>-->
<!--          </div>-->
<!--      </div>-->
  </div>

  <br>
  <br>

  <!-- 底部footer -->
  <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wechat.jpg" class="ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-spaced m-text-thin">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事（User Story）</a>
                    <a href="#" class="item">关于刻意练习的清单</a>
                    <a href="#" class="item">失败要趁早</a>
                </div>

            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-spaced m-text-thin">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email: tajkun@163.com</a>
                    <a href="#" class="item">QQ: 1285234958</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-spaced m-text-thin">Jiakun</h4>
                <p class="m-opacity-mini m-text-spaced m-text-thin">这是我的个人博客，我会分享关于编程、写作、思考相关的任何内容，希望可以给来到这的人有所帮助。</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-opacity-tiny m-text-spaced m-text-thin">Copyright©2019-2020 Jiakun Designed by Jiakun</p>
    </div>

  </footer>



<!-- semantic.min.js 依赖jQuery -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>

  <script>
      $('.menu.toggle').click(function (){
          $('.m-item').toggleClass('m-mobile-hide');
      });

  </script>
</body>
</html>